body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photo {
  position: absolute;
  top: 0;
  width: 40vw;
  background-color: #ddd;
  border: 1vw solid white;
  box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.4);
}
