body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slideshow-container,
#background-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(13px);
  -webkit-filter: blur(13px);
  transform: scale(1.2); /* To remove white edges caused by blur */
}

.photo {
  position: absolute;
  top: -1000vw;
  width: 40vw;
  background-color: #ddd;
  border: 1vw solid white;
  box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.4);
}
