@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slideshow-container,
#background-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(13px);
  -webkit-filter: blur(13px);
  transform: scale(1.2); /* To remove white edges caused by blur */
}

.photo {
  position: absolute;
  top: -1000vw;
  background-color: #fff;
  border: 1vw solid white;
  box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.4);
  line-height: 0;
}

.photo .title {
  width: 100%;
  padding-top: 1vw;
  font-size: 1.8em;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  line-height: normal;
}

.photo .img-container {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
}

.photo .img-overlay {
  box-shadow: inset 0 0 40px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
}

.photo img {
  width: 40vw;
}
